http:
{% for middleware in traefik_middlewares_enabled %}
{% if 'redirect-to-https' in middleware %}
  middlewares:
    redirect-to-https:
      redirectscheme:
        scheme: https
        permanent: true
{% endif %}
{% if 'whitelist' in middleware %}
    {{middleware.name}}:
      ipWhiteList:
        sourceRange:
          {{middleware.ips}}
{% endif %}
{% if 'secure-headers' in middleware %}
    secure-headers:
      headers:
        customFrameOptionsValue: SAMEORIGIN
        STSSeconds: 315360000
{% endif %}
{% endfor %}