http:
{% if traefik_middlewares_enabled | length > 0 %}
  middlewares:
{% endif %}
{% for middleware in traefik_middlewares_enabled %}

{% if 'redirect-to-https' in middleware %}
    redirect-to-https:
      redirectscheme:
        scheme: https
        permanent: true
{% endif %}
{% if 'whitelist' in middleware %}
{% for range in traefik_middlewares_whitelist %}
    {{ range.name }}:
      ipWhiteList:
        sourceRange:
          {{ range.sourceRange }}
{% if 'depth' in range %}
        ipStrategy:
          depth: {{ range.depth }}
{% endif %}
{% endfor %}
{% endif %}
{% if 'secure-headers' in middleware %}
    secure-headers:
      headers:
        customFrameOptionsValue: SAMEORIGIN
        STSSeconds: 315360000
{% endif %}
{% endfor %}

{% if traefik_middlewares_extra is defined %}
    {{ traefik_middlewares_extra | indent(4) }}
{% endif %}
