{% if traefik_port_https is defined %}
tls:
  options:
{% if traefik_tls_options is defined %}
    {{traefik_tls_options}}
{% endif %}

{% if traefik_custom_certs is defined %}
  certificates:
{% for cert in traefik_custom_certs %}
    - certFile: /etc/traefik/certs/{{ cert.certFile }}
      keyFile: /etc/traefik/certs/{{ cert.keyFile }}
      stores:
        - {{ cert.store }}
{% endfor %}    
  stores:
{% for cert in traefik_custom_certs %}
    {{ cert.store }}:
      defaultCertificate:
        certFile: /etc/traefik/certs/{{ cert.certFile }}
        keyFile: /etc/traefik/certs/{{ cert.keyFile }}
{% endfor %}
{% endif %}

{% if traefik_trust_https_selfsigned_backend is defined and traefik_trust_https_selfsigned_backend %}
http:
  serversTransports:
    unsecureTransports:
      insecureSkipVerify: true
{% endif %}

{% endif %}